# temp up to RT
*.a
*.o
# other
*~
*.cmi
*.cmx
*.cma
*.cmo
*.annot
*.opt
*.byte
*.native
src/.depend
regression/*.log
regression/deep-expressions/*.log
regression/expressions/*.log
regression/expressions/generated?????
regression/expressions/generated?????.s
regression/deep-expressions/generated?????
regression/deep-expressions/generated?????.s
regression/test???.s
regression/test???
.idea/
*.iml
